@model IEnumerable<DvdShop.Models.ViewModel.NewStudioViewModel>

@{
    ViewBag.Title = "Index";
}

<h4> Danh sách ảnh viện</h4>

    <a class="btn btn-success" style="margin-bottom: 10px" href='@Url.Action("Create", "Studios")'>
        <i class="fa fa-plus"></i> Thêm ảnh viện mới
    </a>
<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <span class="thumbnail">
                    <img src="~/Content/Images/@item.Image" alt="...">
                    <h4>@item.Name</h4>
                    <p><strong>Địa chỉ : </strong>@item.Address</p>
                    <p><strong>Email : </strong>@item.SkypeName</p>
                    <p><strong>Điện thoại : </strong>@item.PhoneNumber</p>
                    <p><strong>Di động : </strong>@item.MobiNumber</p>
                <hr class="line">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p class="price">@item.Price</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a class="btn btn-warning btn-sm" style="margin-bottom: 10px" href='@Url.Action("Edit", "Studios",new {id = item.Id})'>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-info btn-sm" style="margin-bottom: 10px" href='@Url.Action("Details", "Studios",new {id = item.Id})'>
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" style="margin-bottom: 10px" href='@Url.Action("Delete", "Studios",new {id = item.Id})'>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </span>
        </div>

        }
    </div>

<style>
    h4 {
        font-weight: 600;
    }

    p {
        font-size: 12px;
        margin-top: 5px;
    }

    .price {
        font-size: 30px;
        margin: 0 auto;
        color: #333;
    }

    .right {
        float: right;
        border-bottom: 2px solid #4B8E4B;
    }

    .thumbnail {
        opacity: 1.00;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

        .thumbnail:hover {
            opacity: 1.00;
            box-shadow: 0px 0px 10px #4bc6ff;
        }

    .line {
        margin-bottom: 5px;
    }
</style>