@using PagedList.Mvc;
@model PagedList.IPagedList<DvdShop.Models.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Index";
}
<br/>
<h4>Danh sách sản phẩm</h4>
<p>

    <a class="btn btn-success" style="margin-bottom: 10px" href='@Url.Action("Create", "Products")'>
        <i class="fa fa-plus"></i> Thêm sản phẩm mới
    </a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
           Name
        </th>
        <th>
            StudioName
        </th>
        <th>
           ReceivedDate
        </th>
        <th>
           IsFullBox
        </th>
        <th>
           Price
        </th>
        <th>
           Comment
        </th>
        <th class="text-center">#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.StudioName
            </td>
            <td>
                @item.ReceivedDate
            </td>
            <td>
                @item.IsFullBox ?"Có":"Không"
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Comment
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
 @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))