@model IEnumerable<DvdShop.Models.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Index";
}
<br/>
<h4>Danh sách sản phẩm</h4>
<p>

    <a class="btn btn-success" style="margin-bottom: 10px" href='@Url.Action("Create", "Products")'>
        <i class="fa fa-plus"></i> Thêm sản phẩm mới
    </a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFullBox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
          <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th class="text-center">#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFullBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>